name: az-login-test
on:
   workflow_dispatch:
      inputs:
         environment:
            type: string
            default: "dev"
            required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          auth-type: SERVICE_PRINCIPAL
          creds: "${{ secrets.CRED }}"

      - name: Verify Azure CLI
        run: |
          az account show

