name: workflow for steps values

on:
  workflow_dispatch:

jobs:
  manage-steps-outputs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout data
        uses: actions/checkout@v3

      - name: list dir and save in a file to share
        id: list-source
        run: |
          echo "list=$(find . -type f -not -path './.git/*'| base64 -w0)" >> $GITHUB_OUTPUT
          echo "list_add=true" >> $GITHUB_OUTPUT

      - name: check file come from step 1
        if: steps.list-source.outputs.list_add == 'true'
        run: |
          echo "${{ steps.list-source.outputs.list }}" | base64 -d > files.txt
          while read line ; do
              ls $line 
              if [ "$?" != "0" ];then
                 echo $line not found... exit now
                 exit 1
              fi
          done < files.txt



