name: my-flow
on:
  #push:
  #  branches:
  #    - main
  #    - develop
  workflow_dispatch:
    inputs:
      myname:
        type: string
        default: 'sharad malik'
        required: true    
jobs:
  docker-says-hellow:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - name: create docker container file
        run: |
          cat > Dockerfile << EOD
          FROM ubuntu:latest
          RUN echo "echo "Todays on $(date)"" > /bin/hellow
          RUN echo "echo "Me ${{ github.event.inputs.myname }} , says Hellooo word!!"" >> /bin/hellow
          RUN chmod 777 /bin/hellow
          RUN cat /bin/hellow
          CMD /bin/hellow
          EOD
          
      - name: get Dockerfile
        run: cat Dockerfile
        
        
      - name: Build Docker image
        run: docker build -t hello-world-image .
        
      - name: use newly created docker to say hello
        run: docker run --rm hello-world-image
