name: nodejs-matrix-builds

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
      inputs:
        exclude-version:
          description: version to be excluded from the build
          required: false
          type: string
          default: 12.x
        exclude-os:
          description: OS to be excluded from the build
          required: false
          type: string
          default: ubuntu-latest
        include-version:
          description: version to be included from the build
          required: false
          type: string
          default: 12.x, 13.x, 14.x, 15.x, 16.x
        include-os:
          description: OS to be included from the build
          required: false
          type: string
          default: ubuntu-latest, windows-latest

jobs:
  nodejs-builds:
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node-version }} on ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [12, 13, 14, 15, 16]
        os: [ubuntu-latest, windows-latest]
        exclude:
          - node-version: 12
            os: windows-latest
          - node-version: 13
            os: windows-latest
          - node-version: 14
            os: windows-latest            
          - node-version: 15
            os: windows-latest
          - node-version: 16
            os: windows-latest            
        #node-version: ${{ fromJSON(format('["{0}"]', join(github.event.inputs.include-version, '","'))) }}
        #os: ${{ fromJSON(format('["{0}"]', join(github.event.inputs.include-os, '","'))) }}
        #exclude:
        #  - node-version: ${{ github.event.inputs.exclude-version }}
        #    os: ${{ github.event.inputs.exclude-os }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: './package-lock.json'

      - name: Verify environment
        run: |
          echo "Node.js: $(node --version)"
          echo "NPM: $(npm --version)"
          echo "OS: ${{ matrix.os }}"
          echo "Event: ${{ github.event_name }}"

      - name: Install dependencies
        run: npm install

      - name: Run application
        run: npm start

      - name: Run tests
        run: npm test
